<!--NavBar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto d-flex align-items-center">
        <li class="nav-item active">
          <img src="{{foto}}" alt="foto do usuario" class="imgPerfil">
        </li>
        <li class="nav-item pl-3">
          <p class="text-light m-0 ml-3 font-weight-bold fs16">Olá, {{nome}}</p>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/user-edit', id]">
            <p class="ml-3 font-weight-bold fs16 text-light">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </p>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item pl-3">
          <a (click)="sair()" class="m-0 font-weight-bold text-light fs16">Sair
            <i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--/NavBar-->
