<div class="container-fluid mb-3">

  <div class="row d-flex align-items-center bg-secondary d-flex align-items-center">
    <div class="col-md-6">

      <div class="row d-flex justify-content-center">
        <div class="col-md-6 text-light">
          <h1 class="fs-54">Seja bem Vindo ao meu blog</h1>
          <h5 class="fs-18">Aqui você pode falar sobre o que quiser!</h5>
        </div>
      </div>

      <div class="row d-flex justify-content-center mt-3 mb-5">
        <div class="col-md-6">
          <button class="btn btn-light mr-2" data-toggle="modal" data-target="#novaPostagem">Nova Postagem</button>
          <a class="btn btn-outline-light" href="#postagens">Ver postagens</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <img src="https://previews.123rf.com/images/novintito/novintito1909/novintito190900131/130460005-nature-bokeh-for-nature-background.jpg" alt="imagen blog" width="500px" height="500">
    </div>

  </div>

</div>

<div class="container mt-5 mb-5" id="postagens">

  <nav>
    <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
      <a class="nav-link active text-secondary font-weight-bold" id="nav-todasPostagens-tab" data-toggle="tab"
        href="#nav-todasPostagens" role="tab" aria-controls="nav-todasPostagens" aria-selected="true">Todas as
        Postagens</a>

      <a (click)="findByIdUsuario()" class="nav-link text-secondary font-weight-bold" id="nav-minhasPostagens-tab"
        data-toggle="tab" href="#nav-minhasPostagens" role="tab" aria-controls="nav-minhasPostagens"
        aria-selected="false">Minhas
        Postagens</a>

      <a class="nav-link text-secondary font-weight-bold" id="nav-postagensTema-tab" data-toggle="tab"
        href="#nav-postagensTema" role="tab" aria-controls="nav-postagensTema" aria-selected="false">Postagens por
        Tema</a>
    </div>
  </nav>



  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-todasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">
      <div class="row d-flex justify-content-center mt-4 mb-4">
        <div class="col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" name="" id="titulo" placeholder="Digite um titulo de postagem pra pesquisar" [(ngModel)]="tituloPost" (keyup)="findByTituloPostagem()">
          </div>
        </div>
      </div>
      <div class="tab-content mt-3" id="myTabContent">
        <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="todasPostagens-tab">
          <div class="d-flex flex-wrap">
            <div class="card text-center m-3" style="width: 18rem;"
              *ngFor="let postagem of listarPostagens | orderBy: key : reverse">

              <div class="card-body">
                <h5 class="card-title">{{postagem.titulo}}</h5>
                <p>Tema: {{postagem.tema.descricao}}</p>
                <p class="card-text">{{postagem.texto}}</p>
                <p>{{postagem.date | date:'dd/MM/yyyy'}} às {{postagem.date | date:'HH:mm'}}</p>
                <p> {{postagem.usuario.nome}} </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="nav-minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">
      <div class="tab-content mt-3" id="myTabContent">
        <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="todasPostagens-tab">
          <div class="d-flex flex-wrap">
            <div class="card text-center m-3" style="width: 18rem;"
              *ngFor="let postagem of usuario.postagem | orderBy: key : reverse">

              <div class="card-body">
                <h5 class="card-title">{{postagem.titulo}}</h5>
                <p>Tema: {{postagem.tema.descricao}}</p>
                <p class="card-text">{{postagem.texto}}</p>
                <p>{{postagem.date | date:'dd/MM/yyyy'}} às {{postagem.date | date:'HH:mm'}}</p>

                <a [routerLink]="['/postagem-edit', postagem.id]" class="text-info mr-3" href="">Editar</a>
                <a [routerLink]="['/postagem-delete', postagem.id]" class="text-danger" href="">apagar</a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="nav-postagensTema" role="tabpanel" aria-labelledby="nav-postagensTema-tab">
      <div class="row d-flex justify-content-center mt-4 mb-4">
        <div class="col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" name="" id="titulo" placeholder="Digite tema pra pesquisar" [(ngModel)]="nomeTema" (keyup)="findByNomeTema()">
          </div>
        </div>
      </div>
      <div class="tab-content mt-3" id="myTabContent">
        <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="todasPostagens-tab">
          <div class="d-flex flex-wrap" *ngFor='let tema of listaTemas '>
            <div class="card text-center m-3" style="width: 18rem;" *ngFor="let postagem of tema.postagem | orderBy: key : reverse">

              <div class="card-body">
                <h5 class="card-title">{{postagem.titulo}}</h5>
                <p class="card-text">{{postagem.texto}}</p>
                <p>{{postagem.date | date:'dd/MM/yyyy'}} às {{postagem.date | date:'HH:mm'}}</p>
                <p> {{postagem.usuario.nome}} </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



<!-- Modal -->
<div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="titulo">Titulo</label>
          <input type="text" class="form-control" id="titulo" placeholder="digite o titulo"
            [(ngModel)]='postagem.titulo'>
        </div>

        <div class="form-group">
          <label for="texto">Texto</label>
          <textarea class="form-control" name="texto" id="texto" rows="3" [(ngModel)]="postagem.texto"></textarea>
        </div>

        <div class="form-group">
          <label for="tema">Escolha um tema ou <a data-dismiss="modal" routerLink="/tema">cadastre um novo</a> </label>
          <select name="tema" id="tema" class="form-control" (change)="buscarTemaPorId()" [(ngModel)]="idTema">
            <option *ngFor="let tema of listaTemas | orderBy: key : reverse" value="{{tema.id}}">{{tema.descricao}}
            </option>
          </select>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-outline-dark" (click)="publicar()" data-dismiss="modal">Publicar</button>
      </div>
    </div>
  </div>
</div>
<!-- /Modal -->
